*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  width: 1140px;
  gap: 30px;
}

.result__video-container{
  position: absolute;
  margin-bottom: 16px;
  width: 711px;
  height: 386px;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  padding-bottom: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__textfield {
  width: 225px;
  font-size: 18px;
  font-style: normal;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #fff;
  border: solid 1px #fff;
  border-left: none;
  border-right: none;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield:active {
  border: solid 1px currentColor;
}

.search-form__textfield:focus {
  outline: transparent;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}


.search-form__label:has(:focus-visible) {
  outline: solid 1px currentColor;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  width: 17px;
  height: 17px;
  padding: 1px;
  border: solid 1px #fff;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover:has(.search-form__checkbox) {
  text-decoration: underline 1px;
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.content__list-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 26px;
  height: 298px;
  overflow: auto;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  font-family: 'Oswald';
}

.content__accent{
  color: rgba(84, 80, 80, 1);
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 0 3px;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.content__card-link:active {
 background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: solid 1px currentColor;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 196px;
}

.content__video-card-title {
  font-weight: 700;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-family: 'Oswald';
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.button {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  border: solid 1px currentColor;
  cursor: pointer;
  padding: 6px;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline 1px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: solid 1px currentColor;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.more-button {
  width: 99%;
}

.result__video-container {
  position: relative;
}

.content__list-container {
  position: relative;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
